body{
    margin: 0;
    padding: 0;
}
.body_sit{
    position: fixed;
}

div{
    position: absolute;
    align-content: center;
}

.back_all{
    width: 820px;
    height: 820px;
    background: #b3d4fc;
    overflow:hidden;
}

.lie_1{
    width: 20px;
    height: 1600px;
    background-color: #49ff39;
    left: 400px;
    top: -400px;
}
.lie_2{
     width: 20px;
     height: 1600px;
     background-color: #293dff;
     left: 400px;
     top: -400px;
 }
.smile_1{
    /*width: 800px;
    height: 800px;*/
    overflow: fragments;
    left: 310px;
    top: 310px;
}
.smile_2{
    /*width: 800px;
    height: 800px;*/
    overflow: fragments;
    left: 372px;
    top: 300px;
}
.lord_main{
    position: fixed;
    background: rgba(255,255,255,0.8);
    top: 150px;
    left: 30%;
}
